* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-family: $main-font-family;
  background-color: $dark-cyan;
}
